{% extends "base.html" %}

{% block body %}
<div class="layout shell-layout">
    {% include "components/nav.html" %}
    <main class="content app-main">
        {% block page_header %}{% endblock %}
        {% include "_flash.html" %}
        {% block content %}{% endblock %}
    </main>
</div>
{% include "components/bottom_nav.html" %}
{% include "components/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="/static/mobile_ui.js" defer></script>
{% block page_scripts %}{% endblock %}
{% endblock %}
